/* @import url("https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap");

TypographyStyle {
  font-family: "Rubik Maze", cursive;
  font-size: 10rem;
  text-align: center;
  margin-top: 10px;
  font-weight: normal;
  margin-bottom: 10px;
} */
